# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore compiled files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Ignore IDE files
.idea/
.vscode/
